<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 style="text-align: center" class="mt-2">Create a new Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="enter Title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="enter description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <!-- <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input name="listing[image]" placeholder="enter image url" type="text" class="form-control">
            </div> -->

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <br>
          <select name="listing[category]" id="category" class="form-label" required>
            <option value="">Please choose a category</option>
            <option value="trending">Trending</option>
            <option value="rooms">Rooms</option>
            <option value="iconic_cities">Iconic Cities</option>
            <option value="beach">Beach</option>
            <option value="amazing_pools">Amazing Pool</option>
            <option value="castles">Castles</option>
            <option value="mountains">Mountains</option>
            <option value="camping">Camping</option>  
          </select>

          <div class="invalid-feedback">Category is required</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="enter price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              name="listing[location]"
              placeholder="enter location"
              type="text"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="enter country"
            type="text"
            class="form-control"
            required
          />
        </div>
        <button class="btn btn-dark mb-3 add-btn">Add</button>
      </form>
    </div>
  </div>
</body>
